[Unit]
Description=factoidd - track factoid transactions
Documentation=https://github.com/Factoshi/factoidd
After=network.target

[Service]
# You username here
User=
Environment=NODE_ENV=production
Environment=ENV_FILE=production
Type=simple
ExecStart=/usr/local/bin/factoidd start
Restart=on-failure

[Install]
WantedBy=multi-user.target